*.DS_Store
*.sass-cache
wp-content/node_modules
wp-content/upgrade
wp-content/cache
wp-content/advanced-cache.php
wp-content/debug.log
wp-content/languages
wp-content/db.php
wp-content/wflogs

# Ignore anything within themes, except the theme we are building.
#/themes/*
#!/myproject-theme

# Ignore anything within plugins. Exceptions to this to follow.
#/plugins/*
# Track any plugins prefixed with myproject-
#!/plugins/myproject-*
# Track any other plugins we control
#!/plugins/some-custom-plugin
#!/plugins/some-modified-third-party-plugin
